*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #cf4520;
}

/* EMPIEZA EL HEADER */

header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    width: 100%;
    background-color: #cf4520;
}

nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.20rem;
}

.header__logo__imagen {
    width: 18.75rem;
    margin: 10px;
}

/* TERMINA EL HEADER */

.main__biografia {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "imagen texto1";
    gap: 10px;
}

.main__cancion {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "texto2 video";
}

/* EMPIEZA MAIN BIOGRAFIA */

.main__biografia__imagenn{
    grid-area: imagen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__biografia__texto{
    grid-area: texto1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
}

.main__biografia__imagen {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 40rem;
    margin: 40px;
}

h1 {
    display: flex;
    font-size: 3.438rem;
    font-weight: bolder;
    margin: 10px;
}

.main__biografia__p {
    font-size: 1.25rem;
    line-height: 1.3;
}

/* TERMINA MAIN BIOGRAFIA */

/* EMPIEZA MAIN CANCION */

.videoprueba {
    grid-area: video;
    display: flex;
    justify-content: center;
}

.main__cancion {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.main__cancion__prueba {
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__cancion__titulo {
    display: flex;
    font-size: 2.8rem;
    font-weight: bolder;

}
.main__cancion__subtitulo {
    font-size: 1.5rem;
    margin: 5px;
}

.main__cancion__subtitulo2 {
    font-size: 1.3rem;
    margin: 10px;
}

.main__botonspotify {
    min-width: 130px;
    height: 3.125rem;
    color: #fff;
    padding: 0.6rem 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #cf4520;
    background: #cf4520;
    margin-left: 10px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    margin: 10px;
}
.main__botonspotify:hover {
    background: #fff;
    color: #cf4520
}

/* EMPIEZA EL FOOTER */

footer {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 0.9rem;
    background-color: #cf4520;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23db856e' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

.footer__redes {
    grid-area: footer2;
    margin: 15px;
    font-size: 0.9rem;
}

footer div ul {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}

footer div ul li {
    padding: 10px;
}

footer div ul li a img {
    display: flex;
    width: 2rem;
}

.footer__derechos {
    grid-area: footer1;
    margin: 10px;
    margin-left: 20px  ;
}

.footer__derechos h3 {
    margin: 5px;
}

/* TERMINA FOOTER */

/* EMPIEZA DISCOGRAFIA */


.main__discos__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    margin: 10px;
}

.main__discos__hs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    width: 37rem;

}

.main__discos__fineline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    width: 37rem;
}

.main__ambosdiscos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__ambosdiscos h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* TERMINA DISCOGRAFIA */

/* EMPIEZA LOVE ON TOUR */

.main__fechas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.main__fechas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #cf4520;
    border-radius: 15px;
    padding: 10px;
    font-weight: bolder;
}

.main__fechas li input {
    margin-right: 40px;
}

.main__tourimagen {
    display: flex;
    width: 100%;
    height: 50rem;
    /* margin-top: 10px; */
}

.main__botonentradas {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #cf4520;
    background: #cf4520;
    margin-left: 10px;
    margin: 10px;
}
.main__botonentradas:hover {
    background: #fff;
    color: #cf4520
}

/* TERMINA LOVE ON TOUR */

/* EMPIEZA CONTACTO */

.contacto__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__contacto {
    display: flex;
    justify-content: center;
}

.main__contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}

.main__contacto__formulario__opciones {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.main__contacto__formulario__opciones p {
    display: flex;
    justify-content: center;
}

.main__contacto__textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.main__contacto__textarea label {
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}

textarea {
    resize: none;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #cf4520;
    font-weight: bolder;
    font-size: 18px;
    padding: 8px;
    border: #cf4520 solid 2px;
    border-radius: 20px;
}

.botonenviar {
    display: flex;
    justify-content: center;
}

.cuadro {
    border: 4px solid #cf4520;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

input  {
    border: 2px solid #cf4520;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #cf4520;
    font-weight: bolder;
}

option {
    border: #cf4520 ;
}

/* TERMINA CONTACTO */

/* EMPIEZA MERCH */

.grid2 {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-areas: 
    "header"
    "titulo"
    "tienda"
    "footer";
}

.tienda2 {
    grid-area: tienda;
}


.tienda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "producto1 producto2 producto3 producto4"
    "producto5 producto6 producto7 producto8"
}

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

.producto5 {
    grid-area: producto5;
}

.producto6 {
    grid-area: producto6;
}

.merchtitulo {
    grid-area: titulo;
    font-size: 3rem;
    font-weight: bolder;
    margin: 10px;
}


.tienda__producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #cf4520;
    margin: 10px;
    border-radius: 10px;
}

.tienda__producto__imagen{ 
    display: flex;
    width: 20rem;
}

.tienda__producto h3 {
    font-size: 1.8rem;
}

@media (min-width: 320px) and (max-width: 540px){
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: header;
        width: 100%;
        background-color: #cf4520;
    }
    nav ul li {
        padding: 8px;
    }

    nav ul li a {
        font-size: 0.9rem;
    }
    
    .main__biografia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .main__biografia {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "imagen"
        "texto1";
        /* gap: 10px; */
    }
    .main__biografia__imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        margin: 1.8rem;
    }

    .main__biografia__texto{
        grid-area: texto1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        margin-top: 0px;
    }

    .main__biografia__p {
        font-size: 1.25rem;
        line-height: 1.3;
        margin: 10px;
    }

    .main__cancion {
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "texto2"
        "video";
    }

    .videoprueba iframe {
        width: 20rem;
        height: 15rem;
        margin: 5px;
    }

    footer div ul li {
        padding: 5px;
    }

    /* TERMINA INDEX */

    .main__ambosdiscos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .main__discos__hs {
        width: 20rem;
    }
    
    .main__discos__fineline {
        width: 20rem;
    }

    /* TERMINA DISCOGRAFIA */

    .tienda {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "producto1"
        "producto2" 
        "producto3"
        "producto4"
        "producto5"
        "producto6"
        "producto7" 
        "producto8"
    }

    .main__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cuadro {
        border: 0px

    }

    .main__tourimagen {
        height: 20rem;
    }
}

@media (min-width: 541px) and (max-width: 720px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: header;
        width: 100%;
        background-color: #cf4520;
    }
    .main__biografia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .main__biografia {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "imagen"
        "texto1";
        /* gap: 10px; */
    }
    .main__biografia__imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        margin: 1.8rem;
    }

    .main__biografia__texto{
        grid-area: texto1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        margin-top: 0px;
    }

    .main__biografia__p {
        font-size: 1.25rem;
        line-height: 1.3;
        margin: 10px;
    }

    .main__cancion {
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "texto2"
        "video";
    }
    .videoprueba iframe {
        width: 20rem;
        height: 15rem;
        margin: 5px;
    }

    .main__ambosdiscos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .main__discos__hs {
        width: 30rem;
    }
    
    .main__discos__fineline {
        width: 30rem;
    }

    .tienda {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "titulo titulo"
        "producto1 producto2" 
        "producto3 producto4"
        "producto5 producto6"
        "producto7 producto8"
    }

    .main__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main__tourimagen {
        height: 25rem;
    }

}