
@media (min-width: 320px) and (max-width: 540px){
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: header;
        width: 100%;
        background-color: $color-principal;
    }
    nav ul li {
        padding: 0.5rem;
        a {
            font-size: 0.9rem;
        }
    }

    .footer {
        &__derechos {
            h3{
                font-size: 0.6rem;
            }
        }
        &__redes {
            h3{
                font-size: 1rem;
                font-weight: bolder;
                margin-top: 2px;
                margin-bottom: 0;
            }
        }
    }

    .carousel {
        margin-top: 1rem;
    }

    .main__biografia__p {
        font-size: 1rem;
        line-height: 1.3;
        margin: 0.416rem;
    }

    .main__video iframe {
        width: 100%;
    }

    footer div ul li {
        padding: 0.4rem;
    }

    /* TERMINA INDEX */

    .main__ambosdiscos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .main__discos {
        &__hs {
            iframe {
                width: 20rem;
            }
        }
        &__fineline {
            iframe {
                width: 20rem;
            }
        }
    }

    /* TERMINA DISCOGRAFIA */

    .main__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cuadro {
        border: 0px
    }

    .main__tourimagen {
        height: 20rem;
    }

    .main__fechas li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-align: center;
        input {
            margin-right: 0;
        }
    }
}

@media (min-width: 541px) and (max-width: 720px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: header;
        width: 100%;
        background-color: $color-principal;
    }
    nav ul li {
        padding: 0.5rem;
        a{
            font-size: 0.9rem;
        }
    }

    .carousel {
        margin-top: 1rem;
    }

    .main__biografia__p {
        font-size: 1.25rem;
        line-height: 1.3;
        margin: 0.83rem;
    }

    .main__video iframe {
        width: 40rem;
    }

    .main__ambosdiscos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .main__discos {
        &__hs {
            width: 30rem;
        }
        &__fineline {
            width: 30rem;
        }
    }

    .main__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main__tourimagen {
        height: 25rem;
    }
}

@media (min-width: 721px) and (max-width: 899px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: header;
        width: 100%;
        background-color: $color-principal;
    }
    nav ul li {
        padding: 0.5rem;
        a{
            font-size: 0.9rem;
        }
    }

    .main__tourimagen {
        display: flex;
        width: 100%;
        height: 30rem;
    }
}