@import 'variables';
@import 'helpers';
@import 'header';
@import 'footer';
@import 'mediaqueries';

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-principal;
}

.disclaimer {display: none!important;}
/* EMPIEZA MAIN BIOGRAFIA */

h1 {
    display: flex;
    font-size: 3.438rem;
    font-weight: bolder;
    margin: 0.652rem;
}
.main__biografia__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__biografia__p {
    font-size: 1.25rem;
    line-height: 1.3;
}

/* TERMINA MAIN BIOGRAFIA */

/* EMPIEZA MAIN CANCION */

.main__video {
    display: flex;
    align-content: center;
    justify-content: center;
    iframe {
        width: 35rem;
        height: 20rem;
        margin-bottom: 1.25rem;
    }
}

.main__cancion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__titulo {
        display: flex;
        font-size: 2.8rem;
        font-weight: bolder;
    }
    &__subtitulo {
        font-size: 1.5rem;
        margin: 5px;
        font-weight: bolder;
    }
    &__subtitulo2 {
        font-size: 1.3rem;
        margin: 10px;
        font-weight: bold;
    }
}

.main__botonspotify {
    min-width: 130px;
    height: 3.125rem;
    color: $color-secundario;
    padding: 0.6rem 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid $color-principal;
    background: $color-principal;
    margin-left: 10px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    margin: 0.625rem;
    &:hover {
        background: #fff;
        color: $color-principal;
    }
}

/* EMPIEZA DISCOGRAFIA */

.main__discos {
    &__titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.125rem;
        font-weight: bolder;
        margin: 0.625rem;
    }
    &__hs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 1.25rem;
        width: 37rem;
    }
    &__fineline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 1.25rem;
        width: 37rem;
    }
}

.main__ambosdiscos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h3 {
        font-size: 1.875rem;
        margin-bottom: 1.25rem;
    }
}

/* TERMINA DISCOGRAFIA */

/* EMPIEZA LOVE ON TOUR */

.main__fechas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 1.25rem;
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        padding: 0.625rem;
        font-weight: bolder;
        margin: 0.375rem;
        @include bordes (2px, solid, #cf4520)
    }
}

.main__fechas li input {
    margin-right: 2.5rem;
}

.main__tourimagen {
    display: flex;
    width: 100%;
    height: 50rem;
}

.main__botonentradas {
    min-width: 8.125rem;
    height: 2.5rem;
    color: $color-secundario;
    padding: 0.313rem 0.625rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 1.25rem;
    border: 2px solid $color-principal;
    background: $color-principal;
    margin-left: 0.625rem;
    margin: 0.625rem;
    &:hover {
        background: #fff;
        color: $color-principal;
    }
}

/* TERMINA LOVE ON TOUR */

/* EMPIEZA CONTACTO */

.contacto__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__contacto {
    display: flex;
    justify-content: space-evenly;
    &__formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 1.875rem;
        &__opciones {
            display: flex;
            flex-direction: column;
            margin: 0.625rem;
            p {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.main__contacto__textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.625rem;
    label {
        margin: 0.625rem;
        font-weight: bolder;
        font-size: 1.25rem;
    }
}

textarea {
    resize: none;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-principal;
    font-weight: bolder;
    font-size: 18px;
    padding: 8px;
    border-radius: 1.25rem;
    @include bordes (2px, solid, #cf4520)
}

.botonenviar {
    display: flex;
    justify-content: center;
}

.cuadro {
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    @include bordes (4px, solid, #cf4520)
}

input  {
    padding: 8px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-principal;
    font-weight: bolder;
    @include bordes (2px, solid, #cf4520)
}

option {
    border: $color-principal;
}

/* TERMINA CONTACTO */

/* EMPIEZA MERCH */

.producto {
    transition: all .5s ease;
    &:hover {
        transform: scale(1.10);
    }
    &__titulo {
        font-weight: bolder;
        margin-top: 0.313rem;
    }
}

.merchtitulo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0.625rem;
}
